{% extends "../layout.html" %}

{% block title %}{{ page.attributes.path }} {{ book.attributes.name }}{% parent %}{% endblock %}
{% block description %}{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block content %}
<div id="gitbook-bookpage">
    <div class="book {% if page.attributes.path == "README.md" %}with-summary{% endif %}">
        {% include "../includes/book/header.html" %}
        {% include "../includes/book/summary.html" %}

        <div class="book-body">
            <div class="page-inner">
            {% for section in content %}
                <section class="{{ section.type }}">
                {% if section.type == "normal" %}
                    {% autoescape false %}{{ section.content }}{% endautoescape %}
                {% elif section.type == "exercise" %}
                {% endif %}
                </section>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}