{% extends "../layout.html" %}

{% block title %}{{ page.attributes.path }} {{ book.attributes.name }}{% parent %}{% endblock %}
{% block description %}{% endblock %}
{% block robots %}index, follow{% endblock %}
{% block content %}
<div id="gitbook-bookpage">
    <div class="book">
        {% include "../includes/book/header.html" %}
        {% include "../includes/book/summary.html" %}
        <div class="book-body">
            <div class="page-inner">
            {% autoescape false %}{{ content }}{% endautoescape %}
            </div>
        </div>
    </div>
</div>
{% endblock %}