/* Base static */
@staticPath: "./";


@border-radius-base:  1px;
@border-radius-large: 3px;
@border-radius-small: 1px;

/* Fonts */
@font-size-base: 16px;
@font-family-base: 'appNormal';
@line-height-base: 1.6;

@FontPath: '@{staticPath}/fonts';
@fa-font-path: "@{FontPath}/fontawesome";
